@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0px;
    font-family: "Roboto", sans-serif;
}

h1 {
    height: 50px;
    padding-left: 10px;
}

#container {
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 25% 75%;
}

#sidebar {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    padding: 10px;
    background-color: dodgerblue;
    color: white;
    padding-left: 30px;
}

#main {
    background-color: rgb(193, 193, 193);
}

#header {
    display: grid;
    grid-template-areas:
        "search profile"
        "header links";
    grid-template-rows: 30% 70%;
    padding: 10px;
    background-color: white;
}

#profile {
    display: flex;
    flex-direction: row;
}

#search-bar {
    height: 25px;
    width: 75%;
    border-radius: 1rem;
    border-style: none;
    background-color: rgb(193, 193, 193);
    padding: 0px 10px;
}

#search-icon {
    padding-left: 10px;
}

#side-link {
    display: flex;
    flex-direction: row;
    flex: 2;
    align-items: center;
    font-weight: bold;
    gap: 25px;
}

#side-link:hover {
    color: black;
    cursor: pointer;
}

#search-icon:hover {
    color: dodgerblue;
    cursor: pointer;
}

#notifications-icon:hover {
    color: dodgerblue;
    cursor: pointer;
}

#accountcircle-icon:hover {
    color: dodgerblue;
    cursor: pointer;
}

#profile-name:hover {
    color: dodgerblue;
    cursor: pointer;
}

#side-lower {
    padding-top: 50px
}

#search {
    display: flex;
    gap: 10px;
    align-items: center;
}

#profile {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    padding-right: 30px;
}

#content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#project-dashboard {
    display: grid;
    padding-left: 10px;
    grid-template-columns: 25% 25%;
    grid-template-rows: 130px 130px 130px;
    gap: 10px;
}

#box {
    background-color: white;
    border-radius: 7px;
    border-left-style: solid;
    border-left-width: 7px;
    border-left-color: orange;
    box-shadow: 3px 3px 3px rgba(80, 80, 80, 0.5);
}