@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

#container {
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 25% 75%;
}

#sidebar {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    padding: 10px;
    background-color: chartreuse;
    padding-left: 30px;
}

#main {
    display: grid;
    padding: 10px;
    background-color: blue;
}

#header {
    grid-column-start: 2;
    grid-column-end: 6;
    padding: 10px;
    background-color: darkred;
}

#search-bar {
    height: 25px;
    width: 50%;
    border-radius: 1rem;
    border-style: none;
    margin-left: 45px;
    padding-left: 10px;
    background-color: rgb(193, 193, 193);
}

#search-icon {
    position: absolute;
    padding-top: 2px;
    padding-left: 10px;
}

#side-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    gap: 25px;
}

#side-link:hover {
    color: white;
    cursor: pointer;
}